.button {
  background-color: var(--cl-blue);
  height: 2rem;
  width: 4rem;
  padding-inline: 1rem;
  padding-block: 0.25rem;
  color: var(--cl-white);
  /*margin-top: 30px;
    */
  border-radius: var(--border-raduis);
  -webkit-border-radius: var(--border-raduis);
  -moz-border-radius: var(--border-raduis);
  -ms-border-radius: var(--border-raduis);
  -o-border-radius: var(--border-raduis);
}

.button:hover {
  background-color: var(--cl-yellow);
}
