.hero-container {
  background: linear-gradient(var(--cl-blue), var(--cl-yellow));
  margin-top: 18px;
  height: calc(100vh - 50px);
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -30px;
}
.hero-content {
  margin-top: -50px;
}

.hero-content span {
  color: var(--cl-blue);
}

.hero-content h2 {
  padding-bottom: 20px;
}

.hero-content p {
  padding-bottom: 30px;
}

.hero-content_button {
  background-color: var(--cl-blue);
  height: 2rem;
  width: 4rem;
  padding-inline: 1rem;
  padding-block: 0.25rem;
  color: var(--cl-white);
  /*margin-top: 30px;
  */
  border-radius: var(--border-raduis);
  -webkit-border-radius: var(--border-raduis);
  -moz-border-radius: var(--border-raduis);
  -ms-border-radius: var(--border-raduis);
  -o-border-radius: var(--border-raduis);
}
