footer {
  background-color: var(--cl-blue);
  height: 60px;
  padding-top: 15px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  color: var(--cl-white);
  font-size: var(--fs-12);
  /* align-items: center; */
}
