/* ==============  FONT FAMILY ==============*/
.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.righteous {
  font-family: 'Righteous', sans-serif;
  font-style: normal;
}

.biryani {
  font-family: 'Biryani', sans-serif;
  font-style: normal;
}

/* ==============  VARIABLE CSS ==============*/
:root {
  /* ========== Colors ========== */
  --cl-white: white;
  --cl-black: #2f2e33;
  --cl-gray: #d5d6d2;
  --cl-blue: #3a5199;
  --cl-yellow: #ffbb00f0;

  /* ========== Font Size ========== */
  --fs-12: 0.76rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-30: 1.875rem;
  --fs-40: 2.5rem;
  --fs-42: 2.625rem;
  --fs-48: 3rem;
  --fs-60: 3.75rem;
  --h1-font-size: 3.75rem;
  --h2-font-size: 3rem;
  --logo-font-size: 1.875rem;
  --text-font-size: 1.125rem;
  --small-font-size: 0.875rem;

  /* ========== Line height ========== */
  --lh-text: 22px;

  /* ========== Font weight ========== */
  --weight-700: 700;
  --weight-400: 400;

  /* ========== Border Raduis ========== */
  --border-raduis: 0.4rem;
  --btn-raduis: 3rem;

  /* ========== Line height ========== */
  --title-line-height: 1.1;
  --text-line-height: 1.8;
}

/* ==============  Global CSS ==============*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-family: 'Biryani', sans-serif;
  background-color: var(--cl-black);
  scroll-behavior: smooth;
  background-color: var(--cl-white);
  font-size: 16px;
}

body {
  font-size: var(--fs-18);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  /* color: var(--cl-black); */
  color: black;
}

.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20%;
  margin-right: auto;
  margin-left: auto;
}

input::placeholder,
textarea::placeholder {
  font-family: 'Biryani', sans-serif !important;
  font-size: var(--fs-14);
  font-weight: normal !important;
  opacity: 1;
  color: black;
}
