/* ==============  FONT FAMILY ==============*/
.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.righteous {
  font-family: 'Righteous', sans-serif;
  font-style: normal;
}

.biryani {
  font-family: 'Biryani', sans-serif;
  font-style: normal;
}

/* ==============  VARIABLE CSS ==============*/
:root {
  /* ========== Colors ========== */
  --cl-white: white;
  --cl-black: #2f2e33;
  --cl-gray: #d5d6d2;
  --cl-blue: #3a5199;
  --cl-yellow: #ffba00;

  /* ========== Font Size ========== */
  --h1-font-size: 3.75rem;
  --h2-font-size: 3rem;
  --logo-font-size: 1.875rem;
  --text-font-size: 1.125rem;
  --small-font-size: 0.875rem;

  /* ========== Font weight ========== */
  --weight-700: 700;
  --weight-400: 400;

  /* ========== Border Raduis ========== */
  --border-raduis: 0.4rem;
  --btn-raduis: 3rem;

  /* ========== Line height ========== */
  --title-line-height: 1.1;
  --text-line-height: 1.8;
}

/* ==============  Global CSS ==============*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Biryani', sans-serif;
  background-color: var(--cl-black);
  scroll-behavior: smooth;
}

body {
  font-size: var(--text-font-size);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  /* color: var(--cl-black); */
  color: black;
}
