.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.righteous {
  font-family: 'Righteous', sans-serif;
  font-style: normal;
}

.biryani {
  font-family: 'Biryani', sans-serif;
  font-style: normal;
}
